// Media Queries
$telefono : 480px;
$tablet : 768;
$desktop : 1024px;

// Colores
$fondo : #fafafa;
$fondo-contenido : #fff;

$color-botones : #3897f0;
$color-texto-form : #262626;
$color-bordes: #e6e6e6;
$color-letras: #999;
$color-linea-div :#efefef;