@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
}
._3Laht, .o64aR {
    background-color: $fondo;
}

.navegacion {
    background-color: $fondo;
    padding: 0;
    order: 2;
}

.gW4DF, .jLuN9 {
    order: 0;
}

.div-nav {
    flex-basis: 75px;
    order: 2;
}

.MWDvN, .aUCRo {
    height: 52px;
}

.MWDvN {
    display: flex;
    flex-direction: row;
    height: 77px;
    justify-content: center;
    max-width: 1010px;
    padding: 26px 40px;
    transition: height .2s ease-in-out;
    width: 100%;
}

.barra-naveg {
    background-color: $fondo-contenido;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: height .2s ease-in-out;
    height: 77px;
}

.MWDvN, .barra-naveg, .aUCRo {
    align-items: center;
}
.buoMu {
    height: 52px;
    padding: 0 40px;
}
.oJZym {
    flex: 1 9999 0%;
    min-width: 40px;
}
.aU2HW {
    margin-right: 12px;
    margin-top: -4px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
._7mese {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.Szr5J {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}
.coreSpriteDesktopNavLogoAndWordmark {
    background-repeat: no-repeat;
    background-position: -98px -203px;
    height: 35px;
    width: 176px;
}

.efNlB {
    top: 4px;
    position: absolute;
    transition: opacity .2s ease-in-out;
}
.buoMu ._7mese, .efNlB {
    pointer-events: none;
    opacity: 0;
}
.coreSpriteGlyphBlack {
    background-position: -458px -160px;
    height: 30px;
    width: 30px;
}
.coreSpriteGallery, .coreSpriteGlyphBlack {
    background-repeat: no-repeat;
    background-position: -458px -288px;
    height: 24px;
    width: 24px;
}
.LWmhU {
    flex: 0 1 auto;
    min-width: 125px;
    width: 215px;
}
._0aCwM {
    height: 28px;
}
.x3qfX:placeholder-shown {
    font-size: 16px;
}
.XTCLo {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: $color-texto-form;
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
}
.XTCLo, .pbgfb {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.Di7vw {
    background: $fondo;
    border: solid 1px #dbdbdb;
    justify-content: center;
}
.pbgfb {
    border-radius: 3px;
    color: $color-letras;
    cursor: text;
    font-size: 14px;
    font-weight: 300;
    left: 0;
    padding: 7px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
}
.eyXLr {
    display: inline;
    left: -5px;
}
._6RZXI {
    margin-right: 6px;
    vertical-align: baseline;
}
.TqC_a, ._6RZXI {
    display: inline-block;
}
.TqC_a {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}
.coreSpriteSearchIcon, .coreSpriteSensitivityIcon {
    background-repeat: no-repeat;
    background-position: -445px -409px;
    height: 10px;
    width: 10px;
}


.ctQZg {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 0%;
    justify-content: flex-end;
}
.ZcHy5, ._47KiJ {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
}
.coreSpriteDesktopNavExplore {
    background-position: -261px -357px;
}
.coreSpriteDesktopNavDirect, .coreSpriteDesktopNavExplore {
    background-repeat: no-repeat;
    background-position: -458px -392px;
    height: 24px;
    width: 24px;
}
.XrOey:not(:first-child) {
    margin-left: 30px;
}
._0ZPOP {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: transparent;
    position: relative;
}
.coreSpriteDesktopNavActivity {
    background-repeat: no-repeat;
    background-position: -183px -357px;
    height: 24px;
    width: 24px;
}
.coreSpriteDesktopNavProfile {
    background-repeat: no-repeat;
    background-position: -432px -316px;
    height: 24px;
    width: 24px;
}

._1SP8R {
    padding-top: 60px;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    width: 100%;
}
.j9XKR {
    display: flex;
    flex-flow: row nowrap;
    // max-width: 935px;
}
//////////////////////////////////////////////////////////////////
*,
*:after,
*:before {
  @include box-sizing(inherit);
}

body {
    overflow-y: scroll;
}

#react-root {
    z-index: 0;
}
body, button, input, textarea {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#react-root, body, html {
    height: 100%;
}
.contenedor-general{
    min-height: 100%;
    overflow: hidden;
}

.contenedor-main{
    flex-grow: 1;
    order: 4;
    background-color: $fondo;
}

.contenedor{
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin: 30px auto 0;
    max-width: 935px;
    padding-bottom: 44px;
    widows: 100%;
}

// Imagen celulares
.contenedor-imagen {
    align-self: center;
    background-image: url(Fondo-portada.png);
    background-position: 0 0;
    background-size: 454px 618px;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
}

.div-imagen {
    margin: 99px 0 0 151px;
    position: relative;
}

.imagen {
    height: 427px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 240px;
    opacity: 1;
    visibility: visible;
}

// Form
.contenedor-forms {
    color: $color-texto-form;
    flex-grow: 1;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.signup-box, .login-box {
    background-color: $fondo-contenido;
    border: 1px solid $color-bordes;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

// titulo/logo

.titulo {
    margin: 22px auto 12px;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}
.cont_form-signup {
    margin-bottom: 20px;
}
/* form */
.form-signup {
    display: flex;
    flex-direction: column;
}

/* h2 */
.slogan {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
    color: $color-letras;
    text-align: center;
}

/* span botones */
.span-btn {
    margin: 8px 40px;
    display: block;
    position: relative;
}
/* botones */
.botones {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

/* span interno botones */
.det-btn {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
}

/* divicion en el form */
.divform {
    flex-direction: row;
    margin: 10px 40px 18px;
}
.linea {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: $color-linea-div;
    height: 1px;
    position: relative;
    top: .45em;
}
/* o entre lineas */
.letdiv {
    color: $color-letras;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}
/* inputs */
/* div contenedor input */
.cont-input {
    margin: 0 40px 6px;
}
/* segundo div contenedor */
.input-signup, .cont2-input {
    background: $fondo ;
}

.cont2-input {
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    color: $color-texto-form ;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    width: 100%;
    border: 1px solid $color-linea-div;
}

.cont3-input {
    height: 36px;
    flex: 1 0 0;
    padding: 0;
    position: relative;
    margin: 0;
    min-width: 0;
    font-size: 16px;
}

/* input  */
.input-signup {
    border: 0;
    flex: 1 0 0px;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
}

/* ultimo div */
.div-soport {
    align-items: center;
    flex: 0 0 auto;
    flex-direction: row;
    height: 100%;
    padding-right: 8px;
    vertical-align: middle;
}

/* boton registrar */
.color-btns {
    background: $color-botones;
    border-color: $color-botones;
    color: $fondo-contenido;
}

.KUBKM {
    padding: 0 12px;
}

.cursor {
    cursor: pointer;
}

/* texto de terminos y condiciones */
.ter_y_cond {
    color: $color-letras;
    margin: 10px 60px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.ter_y_cond a{
    color: $color-letras;
    font-weight: 600;
}

/* texto login */
.texto-login {
    color: $color-texto-form;
    font-size: 14px;
    margin: 15px;
    text-align: center;
}

/* contenedor descargas */
/* parrafo */
.texto-descarga {
    color: $color-texto-form;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px;
    text-align: center;
}

/* contenedor logos tiendas */
.contenedor-logos-tiendas {
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

/* a descargas */
.a-descargas {
    margin-right: 8px;
}

/* imagen tiendas */
.logos-tienda {
    height: 40px;
}

.texto-login a{
    color: $color-botones;
}
a{
    text-decoration: none;
}


.coreSpriteLoggedOutWordmark, .coreSpriteMobileNavDirect {
    background-repeat: no-repeat;
    background-position: -98px -150px;
    height: 51px;
    width: 175px;
}

.coreSpriteActivityHeart, .coreSpriteAddText, .coreSpriteAppIcon, .coreSpriteAppStoreButton, .coreSpriteApproveLarge, .coreSpriteBoomerang, .coreSpriteCall, .coreSpriteCheck, .coreSpriteChevronDark, .coreSpriteChevronDownGrey, .coreSpriteChevronRight, .coreSpriteCi, .coreSpriteClose, .coreSpriteCloseLight, .coreSpriteCommentLike, .coreSpriteCommentLikeActive, .coreSpriteDesktopNavActivity, .coreSpriteDesktopNavDirect, .coreSpriteDesktopNavExplore, .coreSpriteDesktopNavLogoAndWordmark, .coreSpriteDesktopNavProfile, .coreSpriteDesktopPhotoGrid, .coreSpriteDesktopPhotoGridActive, .coreSpriteDesktopProfileIGTV, .coreSpriteDesktopProfileIGTVActive, .coreSpriteDesktopProfileSave, .coreSpriteDesktopProfileSaveActive, .coreSpriteDesktopProfileTagged, .coreSpriteDesktopProfileTaggedActive, .coreSpriteDirectHeart, .coreSpriteDismissLarge, .coreSpriteDismissSmall, .coreSpriteDownload, .coreSpriteDropdownArrowBlue5, .coreSpriteDropdownArrowBlue6, .coreSpriteDropdownArrowGrey9, .coreSpriteDropdownArrowWhite, .coreSpriteFacebookIcon, .coreSpriteFacebookIconInverted, .coreSpriteFbGlyph, .coreSpriteGallery, .coreSpriteGlyphBlack, .coreSpriteGlyphGradient, .coreSpriteGlyphWhite, .coreSpriteGooglePlayButton, .coreSpriteHashtag, .coreSpriteHeartSmall, .coreSpriteHyperlapse, .coreSpriteIgLiteHalfsheetInstagramLogo, .coreSpriteInfo, .coreSpriteInputAccepted, .coreSpriteInputError, .coreSpriteInputRefresh, .coreSpriteKeyhole, .coreSpriteLeftChevron, .coreSpriteLeftPaginationArrow, .coreSpriteLikeAnimationHeart, .coreSpriteLocation, .coreSpriteLocationActive, .coreSpriteLock, .coreSpriteLockLarge, .coreSpriteLockSmall, .coreSpriteLoggedOutGenericUpsell, .coreSpriteLoggedOutWordmark, .coreSpriteMobileNavDirect, .coreSpriteMobileNavTypeLogo, .coreSpriteNavBack, .coreSpriteNotificationLeftChevron, .coreSpriteNotificationRightChevron, .coreSpriteNullProfile, .coreSpriteOptionsEllipsis, .coreSpriteOptionsEllipsisLight, .coreSpritePagingChevron, .coreSpritePlayIconSmall, .coreSpritePrivateLock, .coreSpriteProfileCamera, .coreSpriteReload, .coreSpriteRightChevron, .coreSpriteRightPaginationArrow, .coreSpriteSaveNull, .coreSpriteSaveStory, .coreSpriteSearchClear, .coreSpriteSearchIcon, .coreSpriteSensitivityIcon, .coreSpriteSensitivityIconSmall, .coreSpriteSidecarIconLarge, .coreSpriteSidecarIconSmall, .coreSpriteSpeechBubbleSmall, .coreSpriteSpinsta, .coreSpriteSpinstaNux, .coreSpriteSpinstaStory, .coreSpriteStar, .coreSpriteStoryCreation, .coreSpriteStoryCreationAlt, .coreSpriteStoryRing, .coreSpriteStoryViewCount, .coreSpriteTaggedNull, .coreSpriteUnreadComments, .coreSpriteUnreadLikes, .coreSpriteUnreadRelationships, .coreSpriteUnreadUsertags, .coreSpriteUserTagIndicator, .coreSpriteVerifiedBadge, .coreSpriteVerifiedBadgeSmall, .coreSpriteVideoIconLarge, .coreSpriteVideoIconSmall, .coreSpriteVideoNux, .coreSpriteViewCount, .coreSpriteWindowsStoreButton {
    background-image: url(logos-e-iconos.png);
}


a, article, b, body, canvas, div, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, html, i img, label,menu, nav, p, section, 
span,  strong {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

#react-root,article, div, footer, header, main, nav, section {
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

/*********************************************** posts*/


.AcVnq, ._8Rm4L {
    margin-bottom: 60px;
}

.KQA-S, ._1MzIy, ._3MPWk, ._8Rm4L, .zMhqu {
    border-radius: 3px;
    border: 1px solid $color-bordes;
}

.AcVnq, .KQA-S, ._1MzIy, ._3MPWk, ._8Rm4L, .zMhqu {
    background-color: $fondo-contenido;
    margin-left: -1px;
    margin-right: -1px;
}

.M9sTE {
    padding: 0;
}

.UE9AK {
    border-bottom: 1px solid  $color-bordes;
}

.cGcGK {
    float: left;
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
}


.Ppjfr {
    height: 60px;
    padding: 16px;
    align-items: center;
}
.Ppjfr, .bY2yH {
    flex-direction: row;
}

.RR-M- {
    align-self: center;
    display: block;
    flex: none;
}

.CfWVH {
    user-select: none;
}
.qNELH {
    cursor: pointer;
}

._2dbep {
    background-color: $fondo ;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}
a, a:visited {
    color: #003569;
    text-decoration: none;
}

._6q-tv {
    height: 100%;
    width: 100%;
}

.o-MQd {
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 12px;
    overflow: hidden;
}
.e1e1d {
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    overflow: auto;
    flex-grow: 1;
}
.e1e1d, .nJAzx, .nJAzx:visited {
    flex-shrink: 1;
}
.nJAzx, .nJAzx:visited {
    color: $color-texto-form;
    flex-grow: 0;
}
.e1e1d, .nJAzx, .nJAzx:visited {

    flex-shrink: 1;
}
.FPmhX {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.M30cS {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.eLAPa {
    background-color: $color-linea-div;
    display: block;
    width: 100%;
}
.KL4Bh {
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
}
._9AhH0 {
    bottom: 0;
    right: 0;
}


.FFVAD {
    height: 100%;
    user-select: none;
    width: 100%;
}
.FFVAD, ._9AhH0 {
    left: 0;
    position: absolute;
    top: 0;
}

.eo2As {
    padding: 0 16px;
}

.Slqrh {
    margin-top: 4px;
}


.ltpMr {
    flex-direction: row;
}

.fr66n {
    display: inline-block;
    margin-left: -8px;
}


.CxFbA, ._15y0l, ._5e4p, .wmtNn {
    display: inline-block;
}

.wmtNn {
    margin-left: auto;
    margin-right: -10px;
}

.ygqzn {
    margin-bottom: 8px;
}
.EDfFK {
    flex-direction: row;
    justify-content: flex-end;
}
.HbPOm {
    flex-grow: 1;
    flex-shrink: 1;
}
.cqXBL, .cqXBL:visited, .y9v3U {
    color: $color-texto-form;
}
.y9v3U {
    display: block;
}

.zV_Nj, .zV_Nj:visited {
    font-weight: 600;
    color: $color-texto-form;
}
.L_LMM ._JgwE {
    padding-right: 26px;
}
._JgwE {
    margin-top: 4px;
}
.sH9wk {
    border-top: 1px solid $color-linea-div;
    color: $color-letras;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 56px;
    justify-content: center;
}

.X7cDz {
    flex-direction: row;
    flex-shrink: 1;
    position: relative;
}
.X7cDz, .Ypffh {
    display: flex;
    flex-grow: 1;
}
.X7cDz, .n1LTb .RxpZH {
    align-items: center;
}

.Ypffh {
    background: 0 0;
    border: 0;
    color: $color-texto-form;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;

}
.X7cDz, .Ypffh {
    display: flex;
    flex-grow: 1;

}

.L_LMM .MEAGs {
    bottom: 0;
    height: 52px;
    right: 4px;
    top: auto;
}
.MEAGs {
    height: 60px;
    justify-content: center;
    position: absolute;
}

.dCJp8 {
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
}
.oF4XW, .oF4XW * {
    outline: 0 !important;
}

.u-__7 {
    display: block;
}
.glyphsSpriteMore_horizontal__outline__24__grey_9 {
    background-position: -26px -123px;
}
.glyphsSpriteMore_horizontal__filled__24__grey_0, .glyphsSpriteMore_horizontal__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: 0 -123px;
    height: 24px;
    width: 24px;
}
.glyphsSpriteApp_Icon, .glyphsSpriteCamera__outline__24__grey_9, .glyphsSpriteChevron_left__outline__24__grey_9, .glyphsSpriteChevron_right__outline__24__grey_5, .glyphsSpriteCircle_add__outline__24__grey_9, .glyphsSpriteComment__outline__24__grey_9, .glyphsSpriteDelete__outline__24__grey_0, .glyphsSpriteDirect__outline__24__grey_9, .glyphsSpriteFacebook__outline__24__grey_9, .glyphsSpriteHashtag__outline__24__grey_9, .glyphsSpriteHeart__filled__24__grey_9, .glyphsSpriteHeart__filled__24__red_5, .glyphsSpriteHeart__outline__24__grey_9, .glyphsSpriteHome__filled__24__grey_9, .glyphsSpriteHome__outline__24__grey_9, .glyphsSpriteLink__outline__24__grey_9, .glyphsSpriteLocation__outline__24__grey_9, .glyphsSpriteMail__outline__24__grey_9, .glyphsSpriteMobile_nav_type_logo, .glyphsSpriteMore_horizontal__filled__24__grey_0, .glyphsSpriteMore_horizontal__outline__24__grey_9, .glyphsSpriteNew_post__outline__24__grey_9, .glyphsSpritePaging_chevron, .glyphsSpritePhoto_grid__outline__24__blue_5, .glyphsSpritePhoto_grid__outline__24__grey_5, .glyphsSpritePhoto_list__outline__24__blue_5, .glyphsSpritePhoto_list__outline__24__grey_5, .glyphsSpriteSave__filled__24__grey_9, .glyphsSpriteSave__outline__24__blue_5, .glyphsSpriteSave__outline__24__grey_5, .glyphsSpriteSave__outline__24__grey_9, .glyphsSpriteSearch__filled__24__grey_9, .glyphsSpriteSearch__outline__24__grey_9, .glyphsSpriteSettings__outline__24__grey_9, .glyphsSpriteShare__outline__24__grey_9, .glyphsSpriteShare_facebook, .glyphsSpriteShare_messenger, .glyphsSpriteShare_twitter, .glyphsSpriteShare_whatsapp, .glyphsSpriteTag_up__outline__24__blue_5, .glyphsSpriteTag_up__outline__24__grey_5, .glyphsSpriteUser__filled__24__grey_9, .glyphsSpriteUser__outline__24__grey_9, .glyphsSpriteUser_follow__outline__24__grey_9, .glyphsSpriteVerified_small, .glyphsSpriteX__outline__24__grey_9 {
    background-image: url(iconos.png);
}


.glyphsSpriteHeart__outline__24__grey_9, .glyphsSpriteHome__filled__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -52px -97px;
    height: 24px;
    width: 24px;
}

.glyphsSpriteComment__outline__24__grey_9 {
    background-position: -32px -65px;
}
.glyphsSpriteCircle_add__outline__24__grey_9, .glyphsSpriteComment__outline__24__grey_9 {
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.glyphsSpriteSave__outline__24__grey_9 {
    background-position: 0 -149px;
}
.glyphsSpriteSave__outline__24__grey_5, .glyphsSpriteSave__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -157px -104px;
    height: 24px;
    width: 24px;
}

.glyphsSpriteSettings__outline__24__grey_9, .glyphsSpriteShare__outline__24__grey_9 {
    background-repeat: no-repeat;
    background-position: -104px -149px;
    height: 24px;
    width: 24px;
}

